* {
    margin: 0;
    font-family: arial;
  }
section {
    padding: 156px 0 100px;
  }
 
nav ul li a:hover{
    color:white;
}
.portada{
  background-image: url(../Img/portada.jpg);
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
 